#hero {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

#hero_form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#hero_input,
#hero_btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 1em 0;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  font-size: 18px;
}

#hero_input {
  width: 75%;
  margin-right: 5px;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

#hero_input::placeholder {
  transition: color ease-in-out 0.1s;
  color: #000;
  font-weight: bold;
}

#hero_input:focus::placeholder {
  color: transparent;
}

#hero_btn {
  width: 25%;
  margin-left: 5px;
  border: 2px solid #000;
  font-weight: bold;
}

#hero_btn:hover {
  background-color: #000;
  color: #fff;
}

#hero_output {
  background-color: #fff;
  color: #fff;
  font-weight: bold;
  width: 100%;
  caret-color: transparent;
  outline: none;
  border: none;
  padding: 1em 0;
  font-size: 22px;
  cursor: default;
  transition: all ease-in-out 0.1s;
  border: 2px solid transparent;
  text-overflow: ellipsis;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100vw !important;
  height: 60px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_text {
  font-size: 22px;
}

.footer_text_link {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition: all ease-in-out 0.1s;
}

.footer_text_link:hover {
  border-color: rgb(0, 132, 255);
}

.revealed {
  background-color: #000 !important;
  cursor: pointer !important;
}

.revealed:hover {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #000 !important;
}

.error {
  background-color: red !important;
}

@media (max-width: 768px) {
  #hero {
    width: 95%;
  }
}

@media (max-width: 468px) {
  #hero h1,
  #hero_form {
    margin-bottom: 25px;
  }
  #hero h1 {
    font-size: 32px;
  }
  #hero_btn,
  #hero_input {
    font-size: 16px;
  }
  #hero_output {
    padding: 0.5em 0;
    font-size: 20px;
  }
}

@media (max-width: 368px) {
  #hero h1 {
    font-size: 26px;
  }
  #hero_btn,
  #hero_input {
    font-size: 14px;
  }
  #footer {
    height: 50px;
  }
  .footer_text {
    font-size: 18px;
  }
}
