.square_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.square {
  height: 36px;
  width: 36px;
  margin: 0 10px;
  background-color: #fff;
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

#url {
  caret-color: transparent;
  outline: none;
  border: none;
  padding: 0.5em 0;
  cursor: default;
  transition: all ease-in-out 0.1s;
  font-size: 32px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  width: 100%;
  margin-bottom: 50px;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  #container {
    width: 90%;
  }
}

@media (max-width: 468px) {
  .square_container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    border-top: 2px solid #000;
  }
  #container h2 {
    font-size: 32px;
  }
}

@media (max-width: 368px) {
  #container h2 {
    font-size: 30px;
  }
}
