<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>urli.xyz</title>
  </head>
  <body>
    <div id="hero">
      <h1><u>urli.xyz</u><br/>the url shortening extraordinaire.</h1>
      <div id="hero_form">
        <input id="hero_input" type="text" placeholder="link:" />
        <button id="hero_btn">shorten!</button>
      </div>
      <input id="hero_output"></input>
    </div>
    <footer id="footer">
      <p class="footer_text">created by <a href="https://github.com/denis-onder" target="_blank" class="footer_text_link">denis onder</a></p>
    </footer>
  </body>
  <script src="js/index.js"></script>
</html>
