<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>urli.xyz</title>
  </head>
  <body>
    <div id="hero">
      <h1>urli.xyz</h1>
      <h2>URL Shortening Extraordinaire</h2>
      <div id="hero_form">
        <input id="hero_input" type="text" placeholder="URL:" />
        <button id="hero_btn">Shorten!</button>
      </div>
    </div>
  </body>
  <script>
    const $ = id => document.getElementById(id);

    async function handler() {
      const input = $("hero_input");

      const res = await fetch("/api/shorten", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ url: input.value })
      });

      const { error, id } = await res.json();

      if (error) {
        console.error(error);
      } else {
        console.log(id);
      }
    }

    $("hero_btn").addEventListener("click", handler);
  </script>
</html>
