<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <title>URL Shortener</title>
  </head>
  <body>
    <h1>urli.xyz</h1>
    <h2>URL Shortening Extraordinaire</h2>
  </body>
  <script>
    console.log("test");
  </script>
</html>
